<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Jack's Blog</title>
	<link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/static/personal/blog.css?version=1.0">
	<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdn.bootcss.com/showdown/1.8.6/showdown.min.js"></script>
	<script type="text/javascript" src="/static/personal/blog.js?version=1.0"></script>
	<link rel="shortcut icon" href="/static/pics/favicon.ico">
</head>
<body background="/static/pics/bgd.png">	
	<div class="container" style="min-height: 100%;">
		<div class="row" style="height: 100%;">
			<div class="col-md-8 col-md-offset-2" style="background-color: whitesmoke; padding: 0;">
				{% block head_content %}
				{% endblock %}
				<div class="blog-content">
					{% block body_content %}
					{% endblock %}
				</div>
				{% block foot_content %}
				{% endblock %}
			</div>
		</div>
	</div>
</body>
</html>