<center>
	<h2>Jack Zhou</h2>
	<img src="/static/pics/head.jpg" width="100%">
</center>
<nav class="navbar nav-tabs">
	<div class="container-fluid">
		<div class="navbar-collapse collapse" style="text-align: center;">
			<ul class="nav nav-tabs" style="display: inline-block;float: none;">
				<li>
					<a href="/">Home</a>
				</li>
				<li>
					<a>Posts</a>
				</li>
				<li>
					<a href="https://github.com/Jackmrzhou">GitHub</a>
				</li>
				<li>
					<a>AboutMe</a>
				</li>
			</ul>
		</div>
	</div>
</nav>