{% extends "base.html" %}

{% block head_content %}
{% include "common_head.html" %}
{% endblock %}

{% block body_content %}
<div id="Main">
	<!-- <center>
		<h2>	
		</h2>
	</center>
	<br>
	<div class="post-content">
	</div> -->
</div>
<div id="post-comment" style="display: none;">
	<form method="POST">
	{{form.hidden_tag()}}
	<div>
		<center>
			<div class="input-group">
				{{form.name(class="form-control", placeholder="Your Name", style="width:auto")}}
			</div>
			<div class="checkbox">
				<label>
					{{form.is_md()}}
					<strong>Markdown</strong>
				</label>
			</div>
		</center>
	</div>
	<div>
		<center>
			{{form.content(class="form-control", placeholder="Input comment here!",style="width:90%", rows="6")}}
		</center>
	</div>
	<br>
	<center>
		<p>	
			<input class="btn btn-lg btn-success btn-block" type="submit" name="post" style="width: auto;" value="Comment!">
		</p>
	</center>
</form>
</div>
{% endblock %}

{% block foot_content %}
{% include "common_footer.html" %}
<script type="text/javascript">window.onload = Get_Post;</script>
{% endblock %}